// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "x1000.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "yna,cu1000", "ingenic,x1000";
	model = "YSH & ATIL General Module CU Neo";

	aliases {
		serial2 = &uart2;
	};

	chosen {
		stdout-path = &uart2;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};
};

&exclk {
	clock-frequency = <24000000>;
};

&uart2 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pins_uart2>;
};

&msc0 {
	status = "okay";

	bus-width = <8>;
	max-frequency = <50000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_msc0>;
};

&pinctrl {
	pins_uart2: uart2 {
		function = "uart2";
		groups = "uart2-data-d";
		bias-disable;
	};

	pins_msc0: msc0 {
		function = "mmc0";
		groups = "mmc0-1bit", "mmc0-4bit", "mmc0-8bit";
		bias-disable;
	};
};
