// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "x1000.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "yna,cu1000", "ingenic,x1000";
	model = "YSH & ATIL General Module CU Neo";

	aliases {
		serial2 = &uart2;
	};

	chosen {
		stdout-path = &uart2;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};
};

&exclk {
	clock-frequency = <24000000>;
};

&i2c0 {
	status = "okay";

	clock-frequency = <400000>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_i2c0>;

	ads7830@48 {
		compatible = "ti,ads7830";
		reg = <0x48>;
	};
};

&uart2 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pins_uart2>;
};

&mac {
	status = "okay";

	phy-mode = "rmii";

	pinctrl-names = "default";
	pinctrl-0 = <&pins_mac>;

	snps,reset-gpio = <&gpc 23 GPIO_ACTIVE_HIGH>; /* PC23 */
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 30000>;
};

&msc0 {
	status = "okay";

	bus-width = <8>;
	max-frequency = <50000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_msc0>;
};

&msc1 {
	status = "okay";

	bus-width = <4>;
	max-frequency = <50000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_msc1>;

	#address-cells = <1>;
	#size-cells = <0>;

	non-removable;

	brcmf: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&pinctrl {
	pins_i2c0: i2c0 {
		function = "i2c0";
		groups = "i2c0-data";
		bias-disable;
	};

	pins_uart2: uart2 {
		function = "uart2";
		groups = "uart2-data-d";
		bias-disable;
	};

	pins_mac: mac {
		function = "mac";
		groups = "mac";
		bias-disable;
	};

	pins_msc0: msc0 {
		function = "mmc0";
		groups = "mmc0-1bit", "mmc0-4bit", "mmc0-8bit";
		bias-disable;
	};

	pins_msc1: msc1 {
		function = "mmc1";
		groups = "mmc1-1bit", "mmc1-4bit";
		bias-disable;
	};
};
